@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
@import "tailwindcss";

@theme {
    --font-default<                                                 : "Google Sans Flex", sans-serif;
}